@font-face {
font-family: 'PressStart2P-Regular';
font-style: normal;
font-weight: normal;
src: local('PressStart2P-Regular'), url('PressStart2P-Regular.woff') format('woff')
}

h1 {
    font-family: 'PressStart2P-Regular';
    font-weight: 300;
    color: rgb(229, 255, 0);
}